body {
    font-family: "Nunito", sans-serif;
    background-color: white;
}
#navbar {
    box-shadow: 3px 1px 3px 1px silver;
}

#main-content {
    padding-top: 25px;
}
.logo {
    margin-bottom: 0 !important;
}
#navbarSupportedContent ul li > a {
    background-color: white !important;
    margin-right: 15px;
    border-radius: 5px 5px 5px 5px;
    font-weight: 600;
}
.text-primary-color {
    color: #06113c;
}

.box {
    border: 1px solid #f7f3f3;
    border-radius: 5px 5px 5px 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 1px 2px 2px #f7f3f3;
}

.box-row {
    border-top: 1px dashed #e8e8e8;
    border-bottom: 1px dashed #e8e8e8;
    padding-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.link-folder {
    font-style: normal;
}

.shadow-btn {
    box-shadow: 2px 1px 2px 1px #acacac;
    border-radius: 3px 3px 3px 3px;
}

.box-button {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none !important;
}
