body {
    background-color: white !important;
    margin: 0 auto;
    padding: 0;
}
.was-validated {
    display: block;
}
.login {
    border-radius: 5px 5px 5px 5px;
}
.primary-color {
    background-color: #06113c;
}
.button-login {
    background-color: #ffa500;
}
.border-top-white {
    border-top: 1px solid white;
}
.border-top-register {
    border-top: 1px solid #dddddd;
}
.login-background {
    background-image: url("/images/loginbg.jpg");
    background-size: 60%;
    background-repeat: no-repeat;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
}
.register-logo {
    margin-top: 60px;
    margin-bottom: 10px;
    font-weight: bolder;
}
.register {
    border-radius: 5px 5px 5px 5px;
    padding-top: 10px;
    margin-top: 10px;
}
@media only screen {
    .footer {
        position: fixed;
        bottom: 0;
        height: 300px;
        width: 100%;
        background-image: url("/images/wave.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media only screen and (max-width: 900px) {
    .footer {
        position: fixed;
        bottom: 0;
        height: 150px;
        width: 100%;
        background-image: url("/images/wave.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media only screen and (max-width: 500px) {
    .footer {
        position: fixed;
        bottom: 0;
        height: 150px;
        width: 100%;
        background-image: url("/images/wave.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 400px) {
    .footer {
        position: fixed;
        bottom: 0;
        height: 100px;
        width: 100%;
        background-image: url("/images/wave.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.bg-black {
    background-color: #151515 !important;
}

.bg-maron {
    background-color: #a91d3a !important;
}

.bg-red {
    background-color: #c73659 !important;
}

.bg-grey {
    background-color: #eeeeee !important;
}

.bg-navy {
    background-color: #00224d !important;
}

.bg-red-neon {
    background-color: #ff204e !important;
}

.bg-red-maroon {
    background-color: #5d0e41 !important;
}

.bg-grey {
    background-color: #eeeeee;
}

.text-navy {
    color: #00224d !important;
}

.text-red-neon {
    color: #ff204e !important;
}

.text-redd {
    color: #a0153e !important;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    box-shadow: 1px 1px 1px 1px grey;
}
